@import "../../../shared/styles/base";

.header{
    padding: 20px 130px;
    text-align: center;
    background: black;
    @include flex(space-between,center);
}

.heading{
    font-family: $font-family-text;
    margin: 0;
    color: white;
}
.headingHub{
    background: $primary-color;
    color: black;
}
.total{
    font-family: $font-family-text;
    font-size: 16px;
    color: white;
    margin: 0;
}
.totalCount{
    margin-left: 10px;
    color: black;
    background: $primary-color;
    padding: 10px;
    border-radius: 50%;
}